body {
  --main-background-color: #282c34;
  --secondary-background-color: #4a4c51;
  --main-border-color: darkgrey;
  --button-color: #008CBD;
  --modal-width: 500px;
  --modal-height: 300px;
  --modal-side-margin: 75px;
  background-color: var(--main-background-color);
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 1000ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
    border: none !important;
    background-color: var(--secondary-background-color) !important;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

.popup-modal:focus {
  outline:0;
}
.popup-modal {
  position: absolute;
  background-color: #272C35;
  top: 30%;
  left: 30%;
  right: 30%;
  bottom: 30%;
  width: var(--modal-width);
  height: var(--modal-height);
  border: none;
}

.enter-button {
  background-color: var(--button-color);
  margin-left: var(--modal-side-margin);
  margin-top: 50px;
  width: 350px;
  height: 70px;
  font-size: 40px;
  font-family: sans-serif;
  border: none;
}

.subscribe-button {
  background-color: var(--button-color);
  margin-left: var(--modal-side-margin);
  margin-bottom: 0px;
  width: 350px;
  height: 70px;
  font-size: 40px;
  font-family: sans-serif;
  border: none;
}

.email-input:focus {
  outline:0;
}
.email-input {
  margin-bottom: 10px;
  margin-left: var(--modal-side-margin);
  width: 348px;
  height: 40px;
  font-size: 20px;
  font-family: sans-serif;
  border: none;
}

.modal-subtitle {
  text-align: center;
  font-size: 45px;
  font-family: sans-serif;
}

.cookies {
  margin-left: 5%;
  display: block;
  background-color: var(--secondary-background-color);
  width: 90%;
  position: fixed;
  bottom: 0;
  height: 90px;
  border-top: 1px solid var(--main-border-color);
  border-left: 1px solid var(--main-border-color);
  border-right: 1px solid var(--main-border-color);
  padding: 10px 10px 0px 10px;
}

.cookies-header {
  display: flex;
  justify-content: space-between;
}

.cookies-close {
  padding-right: 5px;
}

.cookies-small {
  font-size: 12px;
  line-height: 14px;
}

.location {
  width: var(--modal-width);
  height: var(--modal-height);
  background-color: var(--secondary-background-color);
  margin-left: var(--modal-side-margin);
  margin-right: var(--modal-side-margin);
}

.location-text {
  padding-top: 30px;
  margin-left: var(--modal-side-margin)
}

.location-buttons {
  padding-top: 25px;
  margin-left: var(--modal-side-margin);
  margin-right: var(--modal-side-margin);
  display: flex;
  justify-content: space-between;
}

.location-button {
  background-color: var(--secondary-background-color);
  width: 150px;
  height: 70px;
  font-size: 40px;
  font-family: sans-serif;
  border: 1px solid black;
}

.location-icon {
  height: 25px;
}
